#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  max-width: 30vw;
  pre {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    input {
      padding: 0.5em;
      font-size: 1em;
    }
  }
  h1 {
    background: linear-gradient(100deg, #ee5454, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  img {
    max-width: 60%;
  }
  .subscription {
    color: gray;
    background-color: #0c0a0a;
  }
}

@media screen and (width <= 1100px) {
  main {
    max-width: 60vw;
  }
}
